$menuText:#303133;
// 背景
$menuBg:#fff;
// 激活的背景色
$menuActiveBg:#2d8cf0;
$subMenuActiveText:#303133;
$menuHover:#fff;
$subMenuBg:#fff;
$subMenuHover:#fff;
$sideBarWidth: 219px;

:export {
  menuText: $menuText;
  menuActiveBg: $menuActiveBg;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}